<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uet.invincible.wabo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name="com.fpt.robot.app.RobotApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name">
        <activity
            android:name=".mission.WaboActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="robot_number"
                android:value="2" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.fpt.robot.category.ROBOT_APP" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="robot_app_secret"
            android:value="f12a546e7723c738c1f75562f73d7507" />
    </application>

</manifest>